[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git

[submodule "third-party/duckdb-v1.2"]
	path = third-party/duckdb-v1.2
	url = https://github.com/zhengk30/duckdb-v1.2.git
